@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}


:root {
    --cinza: #eaeaea;
    --azul-escuro: #2966ab;
    --azul-claro: #2694cf;
    --azul-clarissimo: #B9E3e5;
    --cinza-escuro: #212121;
    --cinza-medio: #363636;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

.login{
    border-radius: 25px;
    width: 30%;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-left: 33%;
    padding: 2% 2% 2% 2%;
    background-color: var(--azul-escuro);
}

.formulario{
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    text-align: center;

}

.login_conteudo{
    font-family: var(--fonte-secundaria);
    color: white;
    padding-right: 30%;
    padding-top: 10%;
}

.login_conteudo_CPF{
  font-family: var(--fonte-secundaria);
  color: white;
  padding-right: 45%;
  padding-top: 10%;
}


  .place::placeholder{
    color: white;
  }

  .search-container input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid white;
    color: white;
    font-family: var(--fonte-secundaria);
    background-color: var(--azul-escuro);
    border-radius: 5px;
  }

  .search-container input[type="number"] {
    flex: 1;
    padding: 8px;
    border: 1px solid white;
    color: white;
    font-family: var(--fonte-secundaria);
    background-color: var(--azul-escuro);
    border-radius: 5px;
  }

  .search-container button[type="submit"] {
    padding: 8px 12px;
    border: none;
    background-color: white;
    color: var(--azul-escuro);
    border-radius: 5px;
    cursor: pointer;
  }

  .search-container input[type="password"] {
    flex: 1;
    padding: 8px;
    border: 1px solid white;
    color: white;
    font-family: var(--fonte-secundaria);
    background-color: var(--azul-escuro);
    border-radius: 5px;
  }

.login_botao{

  margin-top: 5%;
  background-color: var(--cinza-escuro);
  width: 100px;
  text-align: center;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 0 10px 0;
  text-decoration: none;
  color: white;
  font-family: var(--fonte-secundaria);
}

.login_botao:hover{
  background-color: var(--cinza-medio);
}

.erros{
  font-size: 15px;
  font-family: var(--fonte-secundaria);
  align-items: center;
  text-align: center;
  padding-right: 10%;
  padding-top: 5%;
  color: white;

}

